@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Snai3i_BLL.DTO.OrderDto

@model OrderReadDTO

<h2>Order List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Workername</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.WorkerName</td>


        </tr>

    </tbody>
</table>

