@using Snai3i_BLL.DTO



@*  @model CustomerBasketDto

<h2>Basket for User @Model.Id</h2>

@if (Model != null)
{
    <ul>
        @foreach (var item in Model.BasketItem)
        {
            <li>Item: @item.ToolId - Quantity: @item.Quantity</li>
        }
    </ul>
}
else 
{
    <p>Your basket is empty.</p>
} *@
  